//- Include all mixins
include ../mixins/mixins

block vars
  - var pageTitle     = 'Toastbox';
  - var pageName      = 'home';
  - var bodyClass     = 'home';

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=pageTitle
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")

    //- Additional styles
    block styles

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")

    //- Additional scripts
    block head_scripts

  body(class=bodyClass)
    .site
        //-
        //- header
        //-

        //- Block before header
        block header_before

        include ../blocks/header

        //- Block after header
        block header_after

        //-
        //- Main content
        //-
        main.main#main-section
            block main


        if pageName != 'product'
          include ../blocks/footer

        //- Block after footer
        block footer_after

    //- Additional sctips
    block footer_scripts

    script(src="js/scripts.js")

    //- Additional sctips
    block last_scripts
