//-
//- Homepage
//-
extends ../layouts/master

block vars
    - var pageTitle     = 'hogarth';
    - var pageName      = 'home';
    - var bodyClass     = 'home';

block main

  .section.section_first#first-section
    include ../blocks/section/first_section
  .section.section_main
    .section--main--scroll
      include ../blocks/section/second_section
      include ../blocks/section/third_section
  .nav
    ul
      li#apac
        a(href="#apac_id")
          span.line
          span.text
            font
              | Apac
            | PRIORITIES
      li#singapore
        a(href="#singapore_id")
          span.line
          span.text
            font
              | Singaporean
            | Cuisine
      li#cn
        a(href="#chinese")
          span.line
          span.text
            font
              | Cantonese
            | Cuisine

      li#ct
        a(href="#cantonese")
          span.line
          span.text
            font
              | Chinese
            | Cuisine

      li#idn
        a(href="#india")
          span.line
          span.text
            font
              | Indian
            | Cuisine
