.section_third.cantonese-wraper
  //-allimage
  .cantonese_left_top_bg.wow.slideInLeft
    img(src="images/fourth_section_01.png")
  .cantonese_left_bottom_bg.wow.slideInLeft
    img(src="images/fourth_section_03.png")
  .cantonese_right_top_bg.wow.slideInRight
    img(src="images/fourth_section_02.png")
  .container
    .main-section
      .section_third_content.cantonese.block-wraper-all-content
        h3.small-main-title.wow.fadeInUpBig(data-wow-delay="0.1s")#cantonese
            font Cantonese
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Dyson
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Opening an office in Korea. Major launch in<br>Korea with over 50 flag ship stores opening.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | PMI
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Turn high-opportunity markets Korea.<br>Japan and China to high-performing markets.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.9s")
              | JV
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Expanding Greyworks to include Broadcast<br>capabilities. Y&R Productions to start for<br>2018. Hogarth partnership with Ogilvy HK<br>to kick start.

        .section_block.right
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Apple
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Kryptonite is coming to HK. Responsible for <br>all Screens Production for Greater China <br>and Korea.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | HSBC

            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Grow content creation opportunity riding on the Global direction for RBWM – Social will be key focus for 2018. Expand the onsite Digital Creative team.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.9s")
              | New Business:
            ul.main-par
              li.wow.fadeInUpBig(data-wow-delay="1s") Secured new collateral rebranding work for several hotels under the Marriott brand.
              li.wow.fadeInUpBig(data-wow-delay="1s") Secured pilot project with GoldPeak Industries in January 2018.
              li.wow.fadeInUpBig(data-wow-delay="1s") Alibaba Global creative production work in discussion – in partnership with Wavemaker.
              li.wow.fadeInUpBig(data-wow-delay="1s") AG
