.section_third.india-wraper
  //-allimage
  .india_left_top_bg.wow.slideInRight
    img(src="images/fifth_section_02.png")
  .india_right_top_bg.wow.slideInLeft
    img(src="images/fifth_section_01.png")
  .container
    .main-section
      .section_third_content.india.block-wraper-all-content
        h3.small-main-title.wow.fadeInUpBig(data-wow-delay="0.1s")#india
            font Indian
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Sally’s
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Post-production tie up.
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Transcreation
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | One of key focuses in 2018.
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Partnership
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Partnership with Grey, Wunderman India, <br>maybe JWT.

        .section_block.right
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Edit Capabilities
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Small edit capabilities in Delhi.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | GSK

            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Big growth driver from production sweep-up across brands.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Digital <br>Offshore Work

            p.main-par.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Digital offshore work with Australia.

      .section_third_content.last.wow.fadeInUpBigBig(data-wow-delay="1s")
        img(src="images/last_section_right_footer.png")
