.first_section_container
  .left-image#left-image
    img(src="images/first_section_spies.png")
  .right-image#right-image
    img(src="images/first_section_right_spies.png")
  .center-image#center-image
    .cop
  .logo#logo
    img(src="images/logo_top.png")
