.section_second
  .container
    .logo#second-logo
      a(href="index.html")
        img(src="images/logo_bottom.png")
    .main-section
      .section_second_content
        //-all image background here
        .left_top_bg.animated#first-left
          img(src="images/second_section_01.png")
        .right_top_bg.animated#first-right
          img(src="images/second_section_02.png")
        .block-wraper-all-content
          h3.small-main-title.wow.fadeInUp(data-wow-delay="0.1s")#apac_id
            font APAC
            |  PRIORITIES
            font  -
          h2.big-main-title.wow.fadeInUp(data-wow-delay="0.2s")
            | Offensive Organic Growth
          ul
            li.wow.fadeInUp(data-wow-delay="0.1s")
              img(src="images/logo/logo_singtel.png")
            li.wow.fadeInUp(data-wow-delay="0.2s")
              img(src="images/logo/logo_jhonson.png")
            li.wow.fadeInUp(data-wow-delay="0.3s")
              img(src="images/logo/logo_gsk.png")
            li.wow.fadeInUp(data-wow-delay="0.4s")
              img(src="images/logo/logo_rb.png")

          h2.big-main-title.wow.fadeInUp(data-wow-delay="0.1s")
            | Creative Production
          ul
            li.wow.fadeInUp(data-wow-delay="0.1s")
              img(src="images/logo/logo_sia.png")
            li.wow.fadeInUp(data-wow-delay="0.2s")
              img(src="images/logo/logo_hpb.png")
            li.wow.fadeInUp(data-wow-delay="0.3s")
              img(src="images/logo/logo_edb.png")
            li.wow.fadeInUp(data-wow-delay="0.4s")
              img(src="images/logo/logo_stb.png")

          h2.big-main-title.big-main-title.wow.fadeInUp(data-wow-delay="0.1s")
            | Continuous WPP Partnerships
          ul
            li.wow.fadeInUp(data-wow-delay="0.1s")
              img(src="images/logo/logo_ynr.png")
            li.wow.fadeInUp(data-wow-delay="0.2s")
              img(src="images/logo/logo_hbo.png")
            li.wow.fadeInUp(data-wow-delay="0.3s")
              img(src="images/logo/logo_jwt.png")
            li.wow.fadeInUp(data-wow-delay="0.4s")
              img(src="images/logo/logo_grey.png")

          h2.big-main-title.big-main-title.wow.fadeInUp(data-wow-delay="0.1s")
            | Plugging APAC
          ul
            li.medium.wow.fadeInUp(data-wow-delay="0.1s")
              img(src="images/logo/logo_onsite.png")
            li.medium.wow.fadeInUp(data-wow-delay="0.2s")
              img(src="images/logo/logo_integrated.png")
            li.medium.wow.fadeInUp(data-wow-delay="0.3s")
              img(src="images/logo/logo_standarized.png")


