.section_third#third_section
  //-allimage
  .left_top_bg.wow.slideInLeft
    img(src="images/third_section_01.png")
  .left_bottom_bg.wow.slideInLeft
    img(src="images/third_section_03.png")
  .right_top_bg.wow.slideInRight
    img(src="images/third_section_02.png")
  .right_bottom_bg.wow.slideInRight
    img(src="images/third_section_04.png")
  .container
    .main-section
      .section_third_content.singapore.block-wraper-all-content#sg
        h3.small-main-title#singapore_id.animated.opacity-transition.upanim
          font SINGAPOREAN
          |  CUISINE
          font  -
        .section_block.left
          .section_block_wraper.animated.opacity-transition.upanim.delay-05
            h2.big-main-title
              | RFPs<br>Underway
            .line-separator
          .section_block_wraper.animated.opacity-transition.upanim.delay-10
            h2.big-main-title
              | Content<br>Studio


        .section_block.right
          .section_block_wraper.animated.opacity-transition.upanim.delay-05
            h2.big-main-title
              | JVs
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim.delay-10
            h2.big-main-title
              | Singapore<br>Incorporated<br>Companies

      .section_third_content.chinese.block-wraper-all-content#canton_section
        h3.small-main-title#chinese.animated.opacity-transition.upanim2
            font Cantonese
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper.animated.opacity-transition.upanim2.delay-05
            h2.big-main-title
              | Hello Korea
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim2.delay-08
            h2.big-main-title
              | PMI
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim2.delay-10
            h2.big-main-title
              | JV Growth


        .section_block.right
          .section_block_wraper.animated.opacity-transition.upanim2.delay-05
            h2.big-main-title
              | Apple<br>Kryptonite GC
            .line-separator


          .section_block_wraper.animated.opacity-transition.upanim2.delay-08
            h2.big-main-title
              | HSBC
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim2.delay-10
            h2.big-main-title
              | New Business






include inside/chinese
include inside/india
