/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel{
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}
	.owl-animated-in {
		z-index: 0;
	}
	.owl-animated-out {
		z-index: 1;
	}
	.fadeOut {
		animation-name: fadeOut;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeInUpBigSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 80vh, 0);
    transform: translate3d(0, 80vh, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBigSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 80vh, 0);
    transform: translate3d(0, 80vh, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBigSmall {
  -webkit-animation-name: fadeInUpBigSmall;
  animation-name: fadeInUpBigSmall;
}
