//
// Button styles
//
.button
  +dib
  +td0
  +bs0
  outline: none
  +h( 28px )
  +lh( 26px )
  +bo( #b27278 )
  +rad( 50px )
  +tac
  +px( 25px )
  +fs( 12px )
  +c( #841a23 )
  +transition( all 0.6s )
  @media (min-width: 1720px)
    +fs(16px)
    +p(9px 40px 8px 40px)
    +h(auto)

  &:active,
  &:focus,
  &:hover,
  &._active
    +boc( #841a23 )
    +bgc( #841a23 )
    +cf
    +td0

  &.maroon
    +bgc( #841a23 )
    +pr(30px)
    +pl(30px)
    +fs(12px)
    +c(#fff)
  &.black
    +fs(12px)
    +h(auto)
    +p(7px 30px 6px 30px)
    font-weight: 700
    +c(#fff)
    +bg(#1b1b1b)
    border: none
    text-transform: uppercase
    letter-spacing: 2px
    +tr02
    @media (min-width: 1720px)
      +fs(14px)
      +p(7px 40px 8px 40px)
      letter-spacing: 2px
    &:hover
      +bg(#fac3b6)

  &.pink
    +fs(12px)
    +h(auto)
    +p(7px 30px 6px 30px)
    font-weight: 700
    +c(#fff)
    +bg(#fac3b6)
    border: none
    text-transform: uppercase
    letter-spacing: 5px
    +tr02
    @media (min-width: 1720px)
      +fs(16px)
      +p(9px 40px 8px 40px)
    &:hover
      +bg(#1b1b1b)

  &.blue
    +fs(12px)
    +h(auto)
    +p(7px 30px 6px 30px)
    font-weight: 700
    +c(#fff)
    +bg(#96c9ec)
    border: none
    text-transform: uppercase
    letter-spacing: 5px
    +tr02
    @media (min-width: 1720px)
      +fs(16px)
      +p(9px 40px 8px 40px)
    &:hover
      +bg(#1b1b1b)

  &.share
    +tr02
    +bg(#fafafa)
    +p(5px 20px)
    +h(auto)
    +bo(#fafafa)
    +mr(15px)
    text-transform: uppercase
    font-weight: 900
    +c(#27297c)
    +fs(14px)
    i
      +mr(10px)
      +fs(18px)
    &:hover
      +bg(#1b1b1b)
      +bo(#1b1b1b)
      +c(#fff)
      i
        +c(#fff!important)



