//
// General styles
//

body


a
    +transition( all 0.6s )
    outline: none

.container
  @media (min-width: 1920px)
    +w(1250px)
  @media (min-width: 2160px)
    +w(1750px)

.block-wraper-all-content
  +por
  z-index: 100

.fullpage-wrapper
  width: 100%!important
  transform: none!important

.remove-zindex
  z-index: 0!important

.fp-section
  width: 100%!important
  position: absolute
  left: 0
  top: 0
  visibility: hidden
  opacity: 0
  z-index: 0
  transition: all 1s ease-in-out


.fp-section.active
  visibility: visible
  opacity: 1
  z-index: 1

.fp-slidesContainer
  width: 100%!important
  transform: none!important


.fp-slide
  width: 100%!important
  position: absolute
  left: 0
  top: 0
  visibility: hidden
  opacity: 0
  z-index: 0
  transition: all .7s ease-in-out


.fp-slide.active
  visibility: visible
  opacity: 1
  z-index: 1

.main-section
  +w(75%)
  +m(0 auto)
  @media (min-width: 1920px) and (max-width:2159px)
    +w(100%)
  @media (min-width: 2160px)
    +w(100%)

.delay-01
  -webkit-animation-delay: 0.3s
  animation-delay: 0.3s

.delay-02
  -webkit-animation-delay: 0.4s
  animation-delay: 0.4s

.delay-03
  -webkit-animation-delay: 0.5s
  animation-delay: 0.5s

.delay-04
  -webkit-animation-delay: 0.6s
  animation-delay: 0.6s

.delay-05
  -webkit-animation-delay: 0.7s
  animation-delay: 0.7s

.delay-08
  -webkit-animation-delay: 0.8s
  animation-delay: 0.8s



.delay-10
  -webkit-animation-delay: 1s
  animation-delay: 1s

.opacity-transition
  opacity: 0
  -webkit-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out










.small-main-title
  +fs(24px)
  letter-spacing: 3px
  font-family: 'Roboto', sans-serif
  font-weight: 500
  +c(#e5e5e5)
  text-transform: uppercase
  outline: none
  font
    +c(#ff0000)
  @media (min-width: 1920px) and (max-width:2159px)
    +fs(30px)
    +mb(30px)
  @media (min-width: 2160px)
    +fs(30px)
    +mb(30px)

.big-main-title
  +fs(38px)
  letter-spacing: 1px
  font-family: 'Roboto Slab', serif
  font-weight: 700
  +c(#e5e5e5)
  @media (min-width: 1920px) and (max-width:2159px)
    +fs(42px)
  @media (min-width: 2160px)
    +fs(52px)
    +mb(30px)
    letter-spacing: 3px

.line-separator
  +db
  +w(70%)
  +h(1px)
  +bg(#848586)
  +mt(25px)


.main-par
  display: none
  +fs(16px)
  letter-spacing: 1px
  +c(#e5e5e5)
  line-height: 22px
  font-family: 'Roboto', sans-serif
  font-weight: 300
  @media (min-width: 1920px) and (max-width:2159px)
    +fs(22px)
    letter-spacing: 2px
    line-height: 30px
  @media (min-width: 2160px)
    font-size: 24px
    margin-top: 15px
    letter-spacing: 2px
    line-height: 31px





.no-padding
  +p(0)
  @media (min-width: 320px) and (max-width: 980px)
    +px(15px)

.no-padding-right
  +pr(0)
  @media (min-width: 320px) and (max-width: 980px)
    +pr(15px)

.no-padding-left
  +pl(0)
  @media (min-width: 320px) and (max-width: 980px)
    +pl(15px)

.grid-sizer
  +w(10px)
  @media (min-width: 1720px)
    +w(5px)

.grid-item
  +w(100%)
  +mb(12px)
  +h(576px)
  overflow: hidden
  &.rm-mb
    +mb(0px)
  @media (min-width: 1920px)
    +mb(14px)
  @media (min-width: 768px) and (max-width: 980px)
    +mb(10px!important)



  &--big
    +w(100%)
    +h(282px)
    overflow: hidden
    @media (min-width: 1960px)
      +h(414px)
    @media (min-width: 1920px) and (max-width: 1930px)
      +h(455px)
      +w(100%)
    @media (min-width: 1930px) and (max-width: 1959px)
      +h(409px)
    @media (min-width: 1720px) and (max-width: 1920px)
      +h(360px)
    @media (min-width: 1124px) and (max-width: 1350px)
      +h(247px)
    @media (min-width: 981px) and (max-width: 1124px)
      +h(180px)
    @media (min-width: 768px) and (max-width: 980px)
      +wf
      +h(auto)
    @media (max-width: 520px)
      +wf
      +h(auto)

  &--small
    +w(100%)
    @media (min-width: 1960px)
      +h(840px)
    @media (min-width: 1920px) and (max-width: 1930px)
      +h(923px)
      +w(100%)
    @media (min-width: 1930px) and (max-width: 1959px)
      +h(828px)
    @media (min-width: 1720px) and (max-width: 1920px)
      +h(730px)
    @media (min-width: 1124px) and (max-width: 1350px)
      +h(500px)
    @media (min-width: 981px) and (max-width: 1124px)
      +h(372px)
      +w(100%)
    @media (min-width: 768px) and (max-width: 980px)
      +wf
      +h(auto)
    @media (max-width: 520px)
      +wf
      +h(560px)
      +ml(0)
      +mb(10px!important)
    @media (max-width: 375px)
      +h(500px)
    @media (max-width: 320px)
      +h(420px)

//title page
.page-title
  text-align: center
  text-transform: uppercase
  +fs(35px)
  font-weight: 500
  +c(#781d1d)
  letter-spacing: 35px
  +mr(-35px)
  +mb(40px)
  @media (min-width: 1720px)
    +fs(40px)
  @media (max-width: 520px)
    +fs(40px)
    letter-spacing: 10px
    +mr(-10px)
