.main
  background: url('../images/main-bg.jpg') repeat-y
  background-size: 100%


.section
  overflow: hidden
  //-******************
  //-first-section
  //-******************
  &_first
    background: url('../images/main-bg.jpg') repeat-y
    background-size: cover
    +h(100vh)
    +poa
    +w(100%)
    +t(0)
    +l(0)
    z-index: 900
    .left-image
      +poa
      +t(0)
      +l(0)
      transform: translateX(-130%) rotate(45deg);
      img
        +w(350px)
        @media (min-width: 2160px)
          +w(auto)
    .right-image
      +poa
      +t(0)
      +r(0)
      transform: translateX(130%) rotate(45deg);
      img
        +w(500px)
        @media (min-width: 2160px)
          +w(auto)
    .center-image
      +poa
      +w(100%)
      +t(15%)
      @media (min-width: 2160px)
        +t(20%)
      .cop
        background: url('../images/first_section_chopping.png') no-repeat 0 0
        background-size: cover
        +por
        +w(986px)
        +m(0 auto)
        +h(593px)
        text-align: center
        +pt(180px)
        @media (min-width: 2160px)
          +w(1466px)
          +h(903px)
    .logo
      text-align: center
      +w(100%)
      +poa
      +l(0px)
      +t(45%)
      img
        +por
        +l(40px)
      @media (min-width: 2160px)
        +t(47%)
  //-******************
  //-second-section
  //-******************
  &_second
    background-size: 100%
    +pt(300px)
    +pb(77px)
    +por
    @media (min-width: 2160px)
      +pt(450px)
    .left_top_bg
      +poa
      +t(50px)
      +l(0)
      img
        +w(730px)
      @media (min-width: 2160px)
        +t(10%)
        img
          +w(auto)
    .right_top_bg
      +poa
      +t(0)
      +r(0)
      img
        +w(500px)
      @media (min-width: 2160px)
        +w(auto)
    .logo
      transform: scale(0)
      opacity: 0
      text-align: center
      img
        +w(200px)
        +m(0 auto)
        @media (min-width: 1920px) and (max-width:2159px)
          +w(auto)
        @media (min-width: 2160px)
          +w(auto)
    &_content
      +pt(80px)
      @media (min-width: 1920px) and (max-width:2159px)
        +pt(170px)
      @media (min-width: 2160px) and (max-width: 2519px)
        +pt(120px)
      @media (min-width: 2520px)
        +pt(290px)
      ul
        +w(100%)
        +p(0)
        +mt(20px)
        +mb(30px)
        li
          list-style: none
          +dib
          +mr(10px)
          +w(23%)
          &:last-child
            +ml(0)
          img
            +w(100%)
          @media (min-width: 2160px)
            +w(24%)
          &.medium
            +w(31%)
  //-******************
  //-third-section
  //-******************
  &_third
    min-height: 500px
    background-size: 100%
    outline: none
    +por
    +pt(400px)
    @media (min-width: 1920px) and (max-width:2159px)
      +pt(640px)
    @media (min-width: 2160px) and (max-width: 2519px)
      +pt(700px)
    @media (min-width: 2520px)
      +pt(830px)

    .left_top_bg
      +poa
      +t(-4%)
      +l(1%)
      @media (min-width: 1920px) and (max-width: 2519px)
        +t(0%)
        +l(0)
      @media (min-width: 2520px)
        +l(3%)
        +t(6%)
      img
        +w(750px)
        @media (min-width: 1920px)
          +w(auto)
    .left_bottom_bg
      +poa
      +t(47%)
      +l(0%)
      @media (min-width: 1920px)
        +t(48%)
      @media (min-width: 2520px)
        +t(48%)

      img
        +w(600px)
        @media (min-width: 1920px)
          +w(980px)
        @media (min-width: 2520px)
          +w(auto)
    .right_top_bg
      +poa
      +t(0)
      +r(0)
      img
        +w(650px)
        @media (min-width: 1920px) and (max-width: 2519px)
          +w(auto)
        @media (min-width: 2520px)
          +w(1150px)

    .right_bottom_bg
      +poa
      +t(50%)
      +r(0)
      @media (min-width: 1920px) and (max-width: 2519px)
        +t(57%)
      @media (min-width: 2520px)
        +t(60%)
      img
        +w(700px)
        @media (min-width: 1920px)
          +w(auto)

    .cantonese_left_top_bg
      +poa
      +t(-35%)
      +l(3%)
      img
        +w(680px)
        @media (min-width: 1920px)
          +w(auto)

    .cantonese_left_bottom_bg
      +poa
      +t(40%)
      +l(0%)
      @media (min-width: 2520px)
        +t(30%)
      img
        +w(600px)
        @media (min-width: 1920px)
          +w(830px)
        @media (min-width: 2520px)
          +w(auto)
    .cantonese_right_top_bg
      +poa
      +t(35%)
      +r(0)
      img
        +w(520px)
        @media (min-width: 1920px)
          +w(auto)

    .india_right_top_bg
      +poa
      +t(24%)
      +l(0)
      @media (min-width: 1920px) and (max-width: 2519px)
        +t(20%)
      img
        +w(600px)
        @media (min-width: 1920px)
          +w(auto)

    .india_left_top_bg
      +poa
      +t(20%)
      +r(0)
      img
        +w(600px)
        @media (min-width: 1920px)
          +w(auto)


    &.cantonese-wraper
      +por
      +pt(0)
    &.india-wraper
      +por
      +pt(0)


    &.chinese-wraper
      +por
      .left_top_bg
        +poa
        +t(-5%)
        +l(0)
        img
          +w(900px)
          @media (min-width: 1920px)
            +w(auto)
      .left_bottom_bg
        +poa
        +t(18%)
        +l(0)
        img
          +w(500px)
          @media (min-width: 1920px)
            +w(auto)
      .right_top_bg
        +poa
        +t(0)
        +r(0)
        img
          +w(650px)
          @media (min-width: 1920px)
            +w(auto)



    &_content
      outline: none
      &.chinese
        outline: none
        +pt(550px)
        @media (min-width: 1920px) and (max-width:2159px)
          +pt(720px)
        @media (min-width: 2160px) and (max-width: 2519px)
          +pt(480px)
        @media (min-width: 2520px)
          +pt(720px)
      &.cantonese
        +pt(350px)
        outline: none
        @media (min-width: 1920px) and (max-width:2159px)
          +pt(480px)
        @media (min-width: 2160px) and (max-width: 2519px)
          +pt(540px)
        @media (min-width: 2520px)
          +pt(620px)
      &.india
        +pt(470px)
        +pb(580px)
        outline: none
        @media (min-width: 1920px) and (max-width:2159px)
          +pt(690px)
        @media (min-width: 2160px) and (max-width: 2519px)
          +pt(580px)
        @media (min-width: 2520px)
          +pt(750px)
      &.last
        text-align: center
        +pt(0px)
        img
          +w(100%)
        @media (min-width: 1920px) and (max-width: 2159px)
          +pt(320px)
        @media (min-width: 2160px) and (max-width: 2519px)
          +pt(0px)
          img
            +ml(-200px)
        @media (min-width: 2520px)
          +pt(0px)
          img
            +ml(-200px)
    .section_block
      +dib
      +mr(5px)
      vertical-align: top
      &.no-margin
        +m(0!important)
      &.left
        +w(53%)
        @media (min-width: 1920px)
          +w(50%)
          +mr(30px)
      &.right
        +w(45%)
      &_wraper
        +mb(25px)
      ul.main-par
        +p(0)
        li
          list-style: none
          background: url('../images/check.png') no-repeat 0 7px
          +mb(10px)
          +pl(25px)
          background-size: 14px


.section--main--scroll
  +hf

.nav
  +pof
  z-index: 100
  +t(47%)
  +r(2%)
  ul
    li
      +db
      +mb(5px)
      &.active
        .line
          +bg(#ff0000)
          +w(4px)
          +h(35px)
          @media (min-width: 1920px)
            +w(6px)
            +h(75px)
        .text
          visibility: visible
          opacity: 1


      a
        .line
          +dib
          +w(2px)
          +h(25px)
          +bg(#d2d3d3)
          +tr02
          +m(0 auto)
          vertical-align: middle
          @media (min-width: 1920px)
            +w(4px)
            +h(65px)

        .text
          visibility: hidden
          opacity: 0
          vertical-align: middle
          font-family: 'Roboto', sans-serif
          +fs(10px)
          display: inline-block
          text-transform: uppercase
          color: #fff
          letter-spacing: 1px
          font-weight: 400
          line-height: 12px
          +ml(5px)
          +tr02
          @media (min-width: 1920px)
            +fs(18px)
            line-height: 22px

          font
            +db
            +c(#ff0000)
        &:hover
          .line
            +bg(#ff0000)
            +w(4px)
            +h(35px)
            @media (min-width: 1920px)
              +w(6px)
              +h(75px)
          .text
            visibility: visible
            opacity: 1



