.section_third.cantonese-wraper#chinese_section
  //-allimage
  .cantonese_left_top_bg.wow.slideInLeft
    img(src="images/fourth_section_01.png")
  .cantonese_left_bottom_bg.wow.slideInLeft
    img(src="images/fourth_section_03.png")
  .cantonese_right_top_bg.wow.slideInRight
    img(src="images/fourth_section_02.png")
  .container
    .main-section
      .section_third_content.cantonese.block-wraper-all-content
        h3.small-main-title#cantonese.animated.opacity-transition.upanim3
            font CHINESE
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper.animated.opacity-transition.upanim3.delay-05
            h2.big-main-title
              | In-house<br>Primary<br>Shoot Team
            .line-separator


          .section_block_wraper.animated.opacity-transition.upanim3.delay-08
            h2.big-main-title
              | Talent
            .line-separator


          .section_block_wraper.animated.opacity-transition.upanim3.delay-10
            h2.big-main-title
              | JVs


        .section_block.right
          .section_block_wraper.animated.opacity-transition.upanim3.delay-05
            h2.big-main-title
              | Apple<br>Kryptonite
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim3.delay-08
            h2.big-main-title
              | Positive<br>Employee<br>Reviews




