.section_third.india-wraper
  //-allimage
  .india_left_top_bg.wow.slideInRight
    img(src="images/fifth_section_02.png")
  .india_right_top_bg.wow.slideInLeft
    img(src="images/fifth_section_01.png")
  .container
    .main-section
      .section_third_content.india.block-wraper-all-content#india_section
        h3.small-main-title#india.animated.opacity-transition.upanim4

            font Indian
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper.animated.opacity-transition.upanim4.delay-05
            h2.big-main-title
              | Sally’s
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim4.delay-08
            h2.big-main-title
              | Post Production<br>Capability
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim4.delay-10
            h2.big-main-title
              | JVs


        .section_block.right
          .section_block_wraper.animated.opacity-transition.upanim4.delay-05
            h2.big-main-title
              | Dyson
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim4.delay-08
            h2.big-main-title
              | GSK
            .line-separator

          .section_block_wraper.animated.opacity-transition.upanim4.delay-10
            h2.big-main-title
              | New Business


      .section_third_content.last.wow.fadeInUpBigSmall(data-wow-delay="1s")






