.section_third
  //-allimage
  .left_top_bg.wow.slideInLeft
    img(src="images/third_section_01.png")
  .left_bottom_bg.wow.slideInLeft
    img(src="images/third_section_03.png")
  .right_top_bg.wow.slideInRight
    img(src="images/third_section_02.png")
  .right_bottom_bg.wow.slideInRight
    img(src="images/third_section_04.png")
  .container
    .main-section
      .section_third_content.singapore.block-wraper-all-content#sg
        h3.small-main-title.wow.fadeInUpBig(data-wow-delay="0.1s")#sg_id
          font SINGAPOREAN
          |  CUISINE
          font  -
        .section_block.left
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | RFPs<br>Underway
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Couple of key accounts in midst of RFP.
            .line-separator
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Content<br>Studio
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Plans for Chennai site by Q3. To serve<br>increasing demands for cost-effective<br>content pieces.

        .section_block.right
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | JVs
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | On-going JVs to deepen. Y&R Productions<br>added to portfolio.
            .line-separator

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Singapore<br>Incorporated<br>Companies
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Leverage success on Singtel win. Get foot into major local businesses.

      .section_third_content.chinese.block-wraper-all-content
        h3.small-main-title.wow.fadeInUpBig(data-wow-delay="0.1s")#chinese
            font CHINESE
            |  CUISINE
            font  -
        .section_block.left
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | In-house<br>Primary<br>Shoot Team
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Budding and nimble talent to take on increasing<br>content work.
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Talent / Office
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Star talents on exchange program.
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.9s")
              | JVs
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.9s")
              | Adding Y&R China.

        .section_block.right
          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Apple<br>Kryptonite GC
            p.main-par.wow.fadeInUpBig(data-wow-delay="0.2s")
              | Live mid-March in BJ and SH. Print production and interactive management capabilities.

          .section_block_wraper
            h2.big-main-title.wow.fadeInUpBig(data-wow-delay="0.5s")
              | Positive<br>Employee<br>Reviews

            p.main-par.wow.fadeInUpBig(data-wow-delay="0.5s")
              | All-round heartening and positive feedback.


include inside/contenese
include inside/india



